.header {
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 147px;
}

@media screen and (max-width: 480px) {
    .header {
        font-size: 30px;
    }

    .cardContainer {
        padding: 50px 20px 0 0;
        justify-content: center;
    }
}


@media screen and (max-width: 370px) {
    .header {
        font-size: 25px;
    }
}