body {
    font-family: "PTRootUIWebRegular";
    background-color: #192233;
}

@font-face {
    font-family: 'PTRootUIWebRegular';
    src: url('../public/assets/PT-Root-UI/PT-Root-UI_Regular.woff2') format('woff2'),
    url('../public/assets/PT-Root-UI/PT-Root-UI_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTRootUIWebMedium';
    src: url('../public/assets/PT-Root-UI/PT-Root-UI_Medium.woff2') format('woff2'),
    url('../public/assets/PT-Root-UI/PT-Root-UI_Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}