.container {
    background-color: #192233;
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-top: 31px;
}

.container main {
    background-color: #212C42;
    border-radius: 50px 50px 0px 0px;
    padding: 20px 0 0 108px;
    margin: 100px 22px 0 0;
}

.containerContent {
    width: 100%;
}

.containerHeader {
    display: flex;
}

.containerSection {
    color: #FFFFFF;
    font-size: 12px;
}

.containerSection span {
    padding-right: 50px;
}

@media screen and (max-width: 768px) {
    .container main {
        padding: 20px 0 0 50px;
    }
}
